html, body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  canvas {
    display: block;
  }

  .btn{
    background-color: transparent;
    border-color: transparent;
    background-size: contain; background-repeat: no-repeat;
    position: absolute;
  }

:root {
  --bubble-color: hsla(210, 50%, 85%, 1);
}

* {
  box-sizing: border-box;
}

button {
  position:relative;
  padding: 10px 20px;  
  cursor: pointer;

  overflow: hidden;   
}

/* bubbles */
button::before {
  content: '';
  pointer-events: none;
  opacity: .7;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--bubble-color) 3px, var(--bubble-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--bubble-color) 3px, var(--bubble-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--bubble-color) 5px, var(--bubble-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

.btn-1 { 
    background-image: url(Images/Play.png); 
    top: 330px; 
    padding: 50px 100px;
    /* border: 2px solid white; */
    
  }

  .btn-2 { 
    background-image: url(Images/Instructions.png); 
    top: 450px; 
    padding: 50px 260px;
  }

  .btn-3 { 
    background-image: url(Images/Back.png); 
    top: 600px; 
    padding: 40px 70px;
  }
  
  .buttonContainer {
    display: flex; 
    justify-content: center;
  }
  .btn-4 { 
    background-image: url(Images/Start.png); 
    padding: 50px 200px;
    margin-left: 150px;
    top: 490px;
  }

  .btn-5{
    background-image: url(Images/playerOne.png); 
    padding: 100px 100px;
    margin-left: 80px;
    top: 280px;
  }
 
  .btn-6{
    background-image: url(Images/home.png); 
    padding: 20px 20px;
    margin-left: 10px;
    top: 10px;
  }

  .btn-7{
    background-image: url(Images/pause.png); 
    padding: 20px 20px;
    margin-left: 10px;
    top: 60px;
  }


  .btn-8{
    background-image: url(Images/PlayAgain.png); 
    padding: 50px 200px;
    margin-left: 10px;
    top: 500px;
  }

#startButton {
  display: none;
}

#backButton {
  display: none;
}

#characterButton {
  display: none;
}

#playAgainButton {
  display: none;
}

#p5_loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: blue;
}